{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="about-hero mt-5">
  <div class="container">
    <h2>About Us</h2>

  </div>
</section>

<section class="about-history">
  <div class="container ">
    <div class="row">
      <div class="col-md-7">
        <h3 class=" text-primary text-center">Our Historical Background</h3>
        <p class="history pt-2">Founded over two decades ago, Jeeh General Trading has carved a distinguished path in
          the world of logistics and trading. Established in [Year of Establishment], our journey began with a vision to
          provide unparalleled solutions for the transportation and trade industry. From its modest beginnings as a
          local trading entity, Jeeh General Trading has since evolved into a global force, redefining excellence in
          logistics.</p>
        <p class=" history pt-2">
          Our early years were marked by an unwavering commitment to customer satisfaction and a relentless pursuit of
          innovation. These principles laid the foundation for our growth and success. Over time, we expanded our
          services to encompass a wide spectrum of logistics solutions, including automotive logistics, freight
          management, customs clearance, and expert consultation in accounting and finance for the industry..
        </p>
        <p class="history pt-2"> Today, Jeeh General Trading stands as a trusted partner for businesses worldwide,
          offering not just logistics services but also a legacy of reliability, professionalism, and an unshakeable
          dedication to helping our clients thrive in the ever-changing landscape of global trade and transportation.
          With a proud history behind us and a dynamic future ahead, we continue to deliver excellence in logistics and
          trade solutions.
        </p>
      </div>
      <div class="col-md-5">
        <div class="about-image mx-5 ">
          <img src="{% static 'img/Logo_jeeh.png'%}" alt="Image 1" style="height: 100%; width: 100%;">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision-mission">
  <div class="container">
    <div class="row m-2">
      <div class="col-md-4">
        <div class="card about-card" style="height: 430px;">
          <div class="card-body">
            <h3 class="text-primary"><i class="bi bi-eye-fill"></i></h3>
            <h4 class="card-title text-primary">Vision</h4>
            <hr class="text-primary">
            <p class="card-text text-center mt-5">Our vision is to be a global leader in logistics and trading, known
              for our
              unwavering dedication to customer satisfaction and our ability to adapt and excel in a rapidly evolving
              industry. We aim to set the industry standard for innovation, efficiency, and sustainability, ensuring
              that our clients can rely on us as their strategic partner for all their logistics needs. Our vision is to
              create a world where businesses can seamlessly connect and trade on a global scale, with Jeeh General
              Trading as their trusted facilitator.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card about-card" style=" height: 430px;">
          <div class="card-body">
            <h3 class="text-primary"> <i class="bi bi-compass-fill"></i></h3>
            <h4 class="card-title text-primary">Mission</h4>
            <hr class="text-primary">
            <p class="card-text text-center mt-3">At Jeeh General Trading, our mission is to be a driving force in the
              logistics and trading industry, providing innovative and comprehensive solutions that empower businesses
              to thrive in the global marketplace. We are committed to delivering excellence in every aspect of our
              services, from efficient transportation logistics to expert consultation, all while upholding the highest
              standards of integrity and professionalism. Our mission is to be a trusted partner for our clients,
              helping them navigate the complexities of international trade with confidence and ease.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card about-card " style="height: 430px;">
          <div class="card-body">
            <h3 class="text-primary"><i class="bi bi-bullseye"></i></h3>
            <h4 class="card-title text-primary">Goals</h4>
            <hr class="text-primary">
            <p class="card-text text-center">
            <ul class="list-unstyled">
              <li class="text-center">Customer-Centric Excellence</li>
              <li class="text-center">Global Reach and Presence</li>
              <li class="text-center">Innovation and Technology</li>
              <li class="text-center">Sustainability</li>
              <li class="text-center">Industry Leadership</li>
              <li class="text-center">Employee Development</li>
            </ul>
            These mission, vision, and goals statements guide our every action at Jeeh General Trading as we work
            tirelessly to provide exceptional logistics and trading services to our valued clients and contribute to the
            success of businesses worldwide.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="teamabout" id="team-about">
  <h2 class="section-title mb-0">Our Team</h2>
  <div class="container-fluid">
    <p class="section-subtitle text-center p-2">Meet our professional and dedicated team that combines both readiness
      and
      efficiency</p>
    <div class="team-grid-about">
      {% for team in teams %}
      <div class="team-member-about mb-4">
        <div class="member-img-about align-content-center">
          <img class="img-thumbnail " src="{{ team.picture.url }}" alt="{{ team.Firstname }} {{ team.Lastname }}" />
          <div class="description-team">
            <p class="text-black text-center">{{ team.description }}</p>
          </div>
        </div>
        <div class="member-info-about">
          <h4>{{ team.Firstname }} {{ team.Lastname }}</h4>
          <h5 class="text-primary">{{ team.Position }}</h5>
          <div class="social-icons-about">
            <a href="{{team.facebook_link}}"><i class="bi bi-facebook"></i></a>
            <a href="{{team.twitter_link}}"><i class="bi bi-twitter"></i></i></a>
            <a href="{{team.instagram_link}}"><i class="bi bi-instagram"></i></a>
            <a href="{{team.youtube_link}}"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
