{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="services-hero-section">
    <div class="container">
        <h1 class="services-hero-title">Our Services</h1>
        <p class="services-hero-description">Welcome to our professional services page</p>
    </div>
</section>
<section class="how-we-help-section">
    <div class="container text-center" data-aos="fade-up">
        <h2 class="how-we-help-title text-dark">How Can We Help You?</h2>
    </div>
</section>
<section class="services-section">
    <div class="container">
        <div class="row bg-light" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-6">
                <h3 class="service-title text-primary">Entrepreneurship Coaching</h3>
            </div>
            <div class="col-md-6">
                <p class="service-description">As professional entrepreneurship coaches, we specialize in walking the
                    line between being a cheerleader and a harsh realist. We push you to new heights that are sometimes
                    uncomfortable but are necessary to grow and scale your business. We stick with you through thick and
                    thin and make sure all objectives are growth-driven so you start seeing results quickly</p>
            </div>
        </div>
        <div class="row border-bottom border-dark-subtle" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-6 ">
                <h3 class="service-title text-primary">Custom Clearance</h3>
            </div>
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas facilis
                    quisquam alias nisi, beatae saepe atque voluptatum ad. Ducimus culpa non, dicta alias magnam
                    delectus sit eum magni illo, reprehenderit veniam placeat repudiandae. Minima id ab consectetur non
                    itaque iusto fugit? Labore nisi rerum illo dolorum eum fuga vel ut.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <h3 class="service-title text-primary">Service Title 3</h3>
            </div>
            <div class="col-md-6">
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum
                    minus incidunt explicabo soluta officia blanditiis numquam error, in non aliquid ad, obcaecati
                    quibusdam iusto repudiandae molestias tempora. Fuga quasi eos cupiditate incidunt quis, architecto
                    suscipit quisquam accusantium vitae laborum dicta excepturi rem quam qui. Maxime deleniti velit
                    incidunt eos!</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <h3 class="service-title text-primary">Service Title 4</h3>
            </div>
            <div class="col-md-6">
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum
                    minus incidunt explicabo soluta officia blanditiis numquam error, in non aliquid ad, obcaecati
                    quibusdam iusto repudiandae molestias tempora. Fuga quasi eos cupiditate incidunt quis, architecto
                    suscipit quisquam accusantium vitae laborum dicta excepturi rem quam qui. Maxime deleniti velit
                    incidunt eos!</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <h3 class="service-title text-primary">Service Title 5</h3>
            </div>
            <div class="col-md-6">
                <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum
                    minus incidunt explicabo soluta officia blanditiis numquam error, in non aliquid ad, obcaecati
                    quibusdam iusto repudiandae molestias tempora. Fuga quasi eos cupiditate incidunt quis, architecto
                    suscipit quisquam accusantium vitae laborum dicta excepturi rem quam qui. Maxime deleniti velit
                    incidunt eos!</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}