{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title%} Jeeh General Trading {% endblock title%}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css ' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css ' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{% url 'index' %}">Jeeh General Trading</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'services' %}">Services</a></li>
                    <li><a class="nav-link scrollto " href="{% url 'product' %}">Products</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#contact">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown"><a href="#"><span>Create</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{%url 'product-create'%}">Product</a></li>
                            <li><a href="{%url 'team-create'%}">Team</a></li>
                            <li><a href="{%url 'testimonial-create'%}">Testimonials</a></li>

                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}

                    <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'register' %}">Join</a></li>

                    {% endif %}

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    {% block content %}

    {% endblock content %}
    <footer class="footer">
        <div class="container">
            <div class="footer-grid-container">
                <div class="footer-column">
                    <h3>Connect with Us</h3>
                    <ul class="list-unstyled social-icons-list">
                        <li><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#" class="text-white"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Important Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                        <li><a href="{% url 'product' %}" class="text-white">Products</a></li>
                        <li><a href="{% url 'services' %}" class="text-white">Services</a></li>
                        <li><a href="{% url 'about' %}" class="text-white">About us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contact Information</h3>
                    <ul class="list-unstyled contact-info-list">
                        <li class="text-white">Mohamed Kamil street, Saline Ouest Salaam Tower floor 10, Djibouti</li>
                        <li class="text-white">Phone: +253 7783 9781</li>
                        <li class="text-white">Email: info@jeehgeneraltrading.com</li>
                        <li class="text-white">Djibouti, Djibouti</li>
                    </ul>
                </div>
            </div>
            <div class="footer-row text-center">
                <div class="footer-copy">
                    <p>&copy; 2023 <a href="http://www.hassentahir.vercel.app"><span id="company-name">Hassen
                                Tahir</span></a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{%static 'js/main.js'%}"></script>
</body>

</html>